@import '/src/app/styles/mixins';

.Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.inner_container {
    padding-left: 50px;
    @include tablet {
        grid-template-columns: repeat(5, 1fr);
    }

    @include small-tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }
}

.circle {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: transparent;
}

.greeting {
    color: var(--first-color);
    font-family: var(--font-family);
    font-size: var(--font-size-xxl);
    font-weight: bold;
    grid-column: 3 / 3 span;

    @include tablet {
        // grid-column: 2 / 2 span;
    }

    @include small-tablet {
        grid-column: 2 / 2 span;
    }

    @include mobile {
        grid-column: 1 / 1 span;
    }
}

.accent_text {
    @include gradient;
}
